data/
__pycache__/
build/
dist/
*.spec
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db
.env
*.log
*.pth
*.egg-info/
.idea/
.vscode/
*.ipynb_checkpoints/
*.sqlite3
age_gender_multitask_resnet18.pth
