data/
__pycache__/
build/
dist/
models/
exports/
*.spec
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db
.env
*.log
*.pth
*.json
*.csv
*.egg-info/
.idea/
.vscode/
*.ipynb_checkpoints/
*.sqlite3
stop.flag

